<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="navbar-brand">TechBook</h1>
    </div>

    <div class="nav-btn">
      <ul class="navbar-nav">
        <!-- Avatar -->
        <li class="nav-item dropdown">
          <a
            class="nav-link d-flex align-items-center"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img (31).webp"
              class="rounded-circle"
              height="35"
              alt=""
              loading="lazy"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
